* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

form {
    height: 200px;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.botao {
    padding: 10px;
    color: #fff;
    background-color: #623232;
    border: 1px solid #2c1717;
    border-radius: 8px;
}

.botao:hover {
    padding: 10px;
    color: #fff;
    background-color: #977474;
    border: 1px solid #2c1717;
    border-radius: 8px;
}